@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4" id="bem-vindo">Bem vindo!</h1>
    <p>Sistema de controle de contatos</p>
    <img style="width:800px;" src="~/img/cadastro-casa-verde-amarela.jpg" />
</div>
